@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Spicy+Rice&display=swap');
body {
    background-color: #ffffff;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: rgb(0, 0, 0);
}

p {
    font-size: 12pt;
    font-weight: normal;
}

h1 {
    font-size: 36pt;
    font-family: 'Spicy Rice', cursive;
    text-decoration: underline;
    text-align: center;
    background-color: Teal;
}

td {
    font-size: 10pt;
    text-align: center;
    background-color: 666666;
}

.shorthand {
    font-size: 13px;
    font-weight: bold;
    margin: 20px 42px 20px 85px;
    width: 200px;
    height: 100px;
    overflow-y: auto;
}


/* width (ancho del palo) */

.shorthand::-webkit-scrollbar {
    width: 6px;
}


/* (palo) Track */

.shorthand::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #9E9E9E;
    /*     visibility: hidden;
 */
}


/* manejador */

.shorthand::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 6px;
    /* visibility: hidden; */
}

.shorthand::-webkit-scrollbar-thumb:hover {
    background: #212121;
    /*     visibility: hidden;
 */
}


/* .shorthand:hover::-webkit-scrollbar-track,
.shorthand:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.shorthand:hover::-webkit-scrollbar {
    width: 15px;
    visibility: visible;
} */