@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: 'Righteous', cursive;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 30px;
    padding: 10px;
    background-color: #d0f;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 9;
}

footer {
    font-size: 10px;
    background-color: red;
    color: seashell;
    padding: 24px 0;
    text-align: center;
}

footer a {
    color: seashell;
    margin: 0 27px 0 0px;
    position: absolute;
    right: 0;
}

footer a:hover {
    color: rgb(111, 0, 255);
    text-decoration: underline
}

main {
    background-color: tomato;
    width: 900px;
    margin: 0px auto;
    position: relative;
    margin: 70px auto 20px;
    display: flow-root;
}

main .textoPrincipal {
    color: #324ccd;
    padding: 15px;
    text-align: justify;
}

main .posicionEstatica1 {
    background-color: #ff9;
    /* padding: 10px; */
    width: calc(50% - 15px - 15px / 2);
    height: 300px;
    margin: 0 7.5px 15px 15px;
    float: left;
    box-sizing: border-box;
    padding: 20px 10px;
}

main .posicionEstatica2 {
    background-color: rgb(255, 153, 192);
    /* padding: 10px; */
    width: calc(50% - 15px - 15px / 2);
    height: 300px;
    margin: 0 15px 15px 7.5px;
    float: left;
    box-sizing: border-box;
    padding: 20px 10px;
}

main .posicionEstatica3 {
    background-color: #9ff;
    /* padding: 10px; */
    width: calc(100% - 30px);
    float: left;
    margin: 0 15px 15px 15px;
    height: 140px;
}

main .box31,
main .box32,
main .box33 {
    height: 200px;
    width: calc(100% / 3 - 15px - 15px/3);
    float: left;
    box-sizing: border-box;
    padding: 20px 10px;
    border-radius: 20px;
}

main .box31 {
    background-color: violet;
    margin: 0 0 15px 15px;
}

main .box32 {
    background-color: rgb(130, 150, 238);
    margin: 0 15px 15px 15px;
}

main .box33 {
    background-color: rgb(130, 238, 175);
    margin: 0 15px 15px 0;
}

main .posicionRelative1 {
    width: calc(100% - 15px * 2);
    height: 140px;
    background-color: #066;
    color: #ffc;
    float: left;
    margin: 0 15px 15px;
    box-sizing: border-box;
    padding: 20px 10px;
}

main .gato {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin: 0 12px 14px 0;
}

main .gato img {
    width: 100%;
}