@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    background-color: #5f9ea0;
    margin: 0;
}

nav {
    width: 240px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}