@import url('reset.css');
@import url('fuentes.css');

/* --- ESTILOS GENERALES --- */

body {
    background-color: #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;

}

#wrap {
    width: 960px;
    /*100% del «grid».*/
    margin: auto;
    clear: both;
}

/* --- HEADER --- */

header {
    width: 100%;
    float: left;
    position: fixed;
    z-index: 9;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6db3f2+0,6db3f2+21,3690f0+39,3690f0+51,54a3ee+65,1e69de+100 */
    background: rgb(109, 179, 242);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(109, 179, 242, 1) 0%, rgba(109, 179, 242, 1) 21%, rgba(54, 144, 240, 1) 39%, rgba(54, 144, 240, 1) 51%, rgba(84, 163, 238, 1) 65%, rgba(30, 105, 222, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(109, 179, 242, 1) 0%, rgba(109, 179, 242, 1) 21%, rgba(54, 144, 240, 1) 39%, rgba(54, 144, 240, 1) 51%, rgba(84, 163, 238, 1) 65%, rgba(30, 105, 222, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(109, 179, 242, 1) 0%, rgba(109, 179, 242, 1) 21%, rgba(54, 144, 240, 1) 39%, rgba(54, 144, 240, 1) 51%, rgba(84, 163, 238, 1) 65%, rgba(30, 105, 222, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 3px 5px #000000;
}

#subheader {
    width: 960px;
    /*100% del «grid».*/
    margin: auto;
}

#logotipo {
    float: left;
    width: 300px;
    /*calculado con un «grid».*/
    padding: 10px 0;
}

#logotipo a {
    font-family: sourcesans;
    font-size: 50px;
    color: #000000;
}

/* --- MENÚ --- */

header #subheader nav {
    float: left;
    width: 660px;
    /*calculado con un «grid».*/
    padding: 30px 0;
    text-align: right;
}

header #subheader nav ul li {
    display: inline;
    font-family: sourcesans;
}

header #subheader nav ul li a {
    font-size: 18px;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
}

header #subheader nav ul li a:hover {
    color: #ffffff;
    background-color: #1798af;
    text-decoration: none;
}

/* --- MAIN --- */

#main {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
    top: 100px;
}

/* --- SLIDESHOW --- */

.slideshow {
    width: calc(100% - 20px*2);
    height: 450px;
    float: left;
    border: solid 20px #ffffff;
    margin: 0 0 30px 0;
}

.slideshow img {
    width: 920px;
    height: 450px;
}

.slideshow .container-all {
    position: relative;
    max-width: 960px;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"] {
    background: #fff;
}


input[id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"] {
    background: #fff;
}


@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

/* --- BIENVENIDOS --- */

#bienvenidos {
    width: calc(100% - 20px*2);
    float: left;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px #000000;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#005437+9,008255+22,00b072+38,5dc19e+56,5dc19e+66,5dc19e+66,5dc19e+73,b8e4d5+84,8ad2b9+87,8ad2b9+87,8ad2b9+89,8ad2b9+93,8ad2b9+95,8ad2b9+95 */
    background: rgb(0, 84, 55);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(0, 84, 55, 1) 9%, rgba(0, 130, 85, 1) 22%, rgba(0, 176, 114, 1) 38%, rgba(93, 193, 158, 1) 56%, rgba(93, 193, 158, 1) 66%, rgba(93, 193, 158, 1) 66%, rgba(93, 193, 158, 1) 73%, rgba(184, 228, 213, 1) 84%, rgba(138, 210, 185, 1) 87%, rgba(138, 210, 185, 1) 87%, rgba(138, 210, 185, 1) 89%, rgba(138, 210, 185, 1) 93%, rgba(138, 210, 185, 1) 95%, rgba(138, 210, 185, 1) 95%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0, 84, 55, 1) 9%, rgba(0, 130, 85, 1) 22%, rgba(0, 176, 114, 1) 38%, rgba(93, 193, 158, 1) 56%, rgba(93, 193, 158, 1) 66%, rgba(93, 193, 158, 1) 66%, rgba(93, 193, 158, 1) 73%, rgba(184, 228, 213, 1) 84%, rgba(138, 210, 185, 1) 87%, rgba(138, 210, 185, 1) 87%, rgba(138, 210, 185, 1) 89%, rgba(138, 210, 185, 1) 93%, rgba(138, 210, 185, 1) 95%, rgba(138, 210, 185, 1) 95%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0, 84, 55, 1) 9%, rgba(0, 130, 85, 1) 22%, rgba(0, 176, 114, 1) 38%, rgba(93, 193, 158, 1) 56%, rgba(93, 193, 158, 1) 66%, rgba(93, 193, 158, 1) 66%, rgba(93, 193, 158, 1) 73%, rgba(184, 228, 213, 1) 84%, rgba(138, 210, 185, 1) 87%, rgba(138, 210, 185, 1) 87%, rgba(138, 210, 185, 1) 89%, rgba(138, 210, 185, 1) 93%, rgba(138, 210, 185, 1) 95%, rgba(138, 210, 185, 1) 95%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005437', endColorstr='#8ad2b9', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#bienvenidos article {
    color: #ffffff;
    line-height: 27px;
}

#bienvenidos article h3 {
    font-family: sourcesansLight;
    font-size: 40px;
    margin: 0 0 10px 0;
    color: #ffffff;
}

/* --- CONTENIDO --- */

#contenido {
    width: 700px;
    float: left;
}

#contenido article {
    float: left;
    margin: 0 0 10px 0;
}

#contenido article .titulo {
    font-size: 22px;
    font-family: sourcesans;
    color: #ffffff;
}

#contenido article .fecha {
    font-size: 14px;
    color: #1798af;
    margin: 0 0 5px 0;
}

#contenido article .thumb {
    width: 220px;
    height: 150px;
    float: left;
    margin: 0 10px 10px 0;
}


#contenido article>p {
    color: #8c8c8c;
    font-size: 14;
    text-align: justify;
}

/* --- SIDEBAR --- */

aside {
    width: 220px;
    float: left;
    margin: 0 0 0 20px;
    padding: 10px 10px 0 10px;
    background-color: #4d78b3;
    border-radius: 5px;
    box-shadow: 0 2px 2px #000000;
}

aside .widget {
    float: left;
    margin: 0 0 10px 0;
}

aside .widget>h3 {
    background-color: #ffffff;
    color: #4d78b3;
    width: 220px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    margin: 0 0 10px 0;
}

aside .widget a {
    color: #ffffff;
}

aside .widget ul li {
    margin: 0 0 5px 0;
}

aside .widget img {
    width: 220px;
    height: 150px;
}

/* --- FOOTER --- */

footer {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    top: 150px;
    box-shadow: 0 2px 2px #000000;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#676767+0,6f6f6f+12,777777+26,777777+26,646464+29,535353+50,424242+64,373737+67,373737+67,424242+76,525252+83,494949+91,434343+100 */
    background: rgb(103, 103, 103);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(103, 103, 103, 1) 0%, rgba(111, 111, 111, 1) 12%, rgba(119, 119, 119, 1) 26%, rgba(119, 119, 119, 1) 26%, rgba(100, 100, 100, 1) 29%, rgba(83, 83, 83, 1) 50%, rgba(66, 66, 66, 1) 64%, rgba(55, 55, 55, 1) 67%, rgba(55, 55, 55, 1) 67%, rgba(66, 66, 66, 1) 76%, rgba(82, 82, 82, 1) 83%, rgba(73, 73, 73, 1) 91%, rgba(67, 67, 67, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(103, 103, 103, 1) 0%, rgba(111, 111, 111, 1) 12%, rgba(119, 119, 119, 1) 26%, rgba(119, 119, 119, 1) 26%, rgba(100, 100, 100, 1) 29%, rgba(83, 83, 83, 1) 50%, rgba(66, 66, 66, 1) 64%, rgba(55, 55, 55, 1) 67%, rgba(55, 55, 55, 1) 67%, rgba(66, 66, 66, 1) 76%, rgba(82, 82, 82, 1) 83%, rgba(73, 73, 73, 1) 91%, rgba(67, 67, 67, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(103, 103, 103, 1) 0%, rgba(111, 111, 111, 1) 12%, rgba(119, 119, 119, 1) 26%, rgba(119, 119, 119, 1) 26%, rgba(100, 100, 100, 1) 29%, rgba(83, 83, 83, 1) 50%, rgba(66, 66, 66, 1) 64%, rgba(55, 55, 55, 1) 67%, rgba(55, 55, 55, 1) 67%, rgba(66, 66, 66, 1) 76%, rgba(82, 82, 82, 1) 83%, rgba(73, 73, 73, 1) 91%, rgba(67, 67, 67, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#434343', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

footer section {
    width: calc(50% - 20px - 20px);
    float: left;
    padding: 20px 19px 20px 20px;
}

footer #acerca_de {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #313131;
    text-align: justify;
    line-height: 20px;
    height: 180px;
    position: relative;
    top: 25px;
}

footer #acerca_de h3 {
    font-family: sourcesansLight;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

footer #acerca_de p {
    margin: 30px 0 0 0;
}

footer #redes>div {
    width: calc(50% - 20px - 20px);
    height: 60px;
    float: left;
}

footer #redes {
    border-left: 1px solid #313131;
}

footer #redes>a {
    top: 25px;
    left: 10px;
    width: 220px;
    height: 60px;
    float: left;
    margin: -12px 0 66px 0;
    position: relative;
    opacity: 0.4;
}

footer #redes>a:hover {
    opacity: 1;
}

.icon {
    width: 50%;
    float: left;
    position: relative;
}

.icon img {
    width: 90px;
    height: 90px;
    float: left;
}

a .text {
    color: #000000;
    height: 30px;
    float: left;
    margin: -62px 0 0px 105px;
    font-weight: 900;
    font-family: sourcesans;
    font-size: 25px;
}

#copyright {
    float: left;
    width: 100%;
    margin: -50px 0 300px 0;
    position: relative;
    top: 230px;
}

#copyright p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* FORM CONTACTO */

form {
    width: 60%;
    float: left;
    padding: 20px;
    top: 100px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6db3f2+0,6db3f2+21,3690f0+39,3690f0+51,54a3ee+65,1e69de+100 */
        background: rgb(109, 179, 242);
        /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(109, 179, 242, 1) 0%, rgba(109, 179, 242, 1) 21%, rgba(54, 144, 240, 1) 39%, rgba(54, 144, 240, 1) 51%, rgba(84, 163, 238, 1) 65%, rgba(30, 105, 222, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(109, 179, 242, 1) 0%, rgba(109, 179, 242, 1) 21%, rgba(54, 144, 240, 1) 39%, rgba(54, 144, 240, 1) 51%, rgba(84, 163, 238, 1) 65%, rgba(30, 105, 222, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(109, 179, 242, 1) 0%, rgba(109, 179, 242, 1) 21%, rgba(54, 144, 240, 1) 39%, rgba(54, 144, 240, 1) 51%, rgba(84, 163, 238, 1) 65%, rgba(30, 105, 222, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        box-shadow: 0 3px 5px #000000;
    border-radius: 10px;
    position: relative;
    
}

label {
    font-size: 15px;
    display: block;
    width: 100%;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 3px;
}

textarea {
    resize: vertical;
    max-height: 250px;
    min-height: 80px;
}

::placeholder {
    color: rgb(0, 0, 0, 0.2);
}

input,
textarea {
    margin: 0 0 20px 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    font-size: 15px;
}

input:focus,
textarea:focus {
    border: 2px solid #1668C4;
}

input[type="submit"] {
    margin-bottom: 0;
    background-color: #1668C4;
    border: none;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 3px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #4a88f4;
}

.form-control {
    width: 250px;
}

.col-md-6 {
    display: inline-block;
}

.addFileBox .col-md-6 .inputGroup {
    display: flex;
    align-items: baseline;
}

.buttonText {
    padding: 10px;
    background-color: #1668C4;
    border: none;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 15px;
}

.buttonText:hover {
    cursor: pointer;
    background-color: #4a88f4;
}
