* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/fondoReloj.jpg);
    background-size: cover;
    color: #fff;
    font-size: 16px;
}

.wrap {
    width: 90%;
    max-width: 1000px;
    /* margin: 32px; */
}

.widget {
    width: 40%;
    margin: 32px;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.fecha {
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.fecha .esen {
    width: 30px;
    height: 30px;
    margin: 0 0 0 335px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reloj {
    font-family: Oswald, Arial;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.reloj .segundero {
    display: inline-block;
}

.reloj .segundero .segundos,
.reloj .segundero .amPm {
    font-size: 2rem;
    display: block;
}

.reloj .hora12o24 {
    background-color: aqua;
    width: 30px;
    height: 30px;
    margin: 0 0 0 335px;
}

.reloj .hora12o24 img {
    width: 100%;
    cursor: pointer;
}

.segundos24 {
    font-size: 64px !important;
}