* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, Arial;
}

body {
    background: url(../images/fondoReloj.jpg);
    background-size: cover;
    color: #fff;
    font-size: 16px;
}

.wrap {
    width: 90%;
    max-width: 1000px;
    /* margin: 32px; */
}

.widget {
    width: 40%;
    margin: 32px;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.fecha {
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.fecha .esen {
    width: 30px;
    height: 30px;
    left: 360px;
    bottom: 8px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.reloj {
    font-family: Oswald, Arial;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: relative;
}

.reloj .segundero {
    display: inline-block;
}

.reloj .segundero .segundos,
.reloj .segundero .amPm {
    font-size: 2rem;
    display: block;
}

.reloj .hora12o24 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 360px;
    bottom: 8px;
}

.reloj .hora12o24 img {
    width: 100%;
    cursor: pointer;
}

.segundos24 {
    font-size: 64px !important;
}

form {
    width: 25%;
    padding: 20px;
    position: absolute;
    right: 32px;
    top: 32px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

label {
    font-size: 15px;
    display: block;
    width: 100%;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 3px;
}

textarea {
    resize: vertical;
    max-height: 250px;
    min-height: 80px;
}

::placeholder {
    color: rgb(0, 0, 0, 0.2);
}

input, textarea {
    margin: 0 0 20px 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    font-size: 15px;
}

input:focus, textarea:focus {
    border: 2px solid #1668C4;
}

input[type="submit"] {
    margin-bottom: 0;
    background-color: #1668C4;
    border: none;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 3px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #4a88f4;
}