





/* PROBAR TODAS LAS OPCIONES DE «POSITION» Y VER LOS DISTINTOS RESULTADOS. 
    USAR TAMBIÉN «FLOAT» Y VER LA DIFERENCIA ENTRE «LEFT» Y «»RIGHT*/


div {
    width: 100px;
    height: 100px;
    background-color: limegreen;
    color: black;
    font-size: 30px;
    /*float: right;*/
    }


