@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.parrafo {
    font-size: 25px;
    color: rgb(17, 6, 48);
    font-family: 'Great Vibes', cursive;
    margin: 34px 43px 99px 43px;
    text-align: justify;
    background-color: beige;
    border-radius: 268px;
    padding: 10px 50px 20px 50px;
}

.letraCapital {
    font-size: 89px;
    color: #993333;
    font-weight: bold;
    float: left;
    padding: 29px 19px 0 0;
    height: 64px;
    line-height: 70px;
}

.letraCapitalImagen {
    width: 111px;
    float: left;
    margin: -10px 8px -8px 0;
}

.parrafo:first-line {
    text-decoration: underline;
    font-weight: bold;
}

.quijote {
    background: url("../images/quijote.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}