a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-y: scroll;
}

header {
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    padding: 0 0 0 15px;
    display: inline-block;
}

header .left {
    line-height: 61px;
    margin: 0px 0 0 10px;
    opacity: 0.75;
}

header .right {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    padding: 0 29px 0 0;
}

header .right a {
    margin: 2px 0 0 0;
}

header .right .button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: 528px 68px;
    background-image: url(http://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-position: -132px -38px;
    opacity: 0.55;
    color: #000000;
    margin: 1px 14px 0 15px;
}

header .right .button:hover {
    opacity: 1;
}

header .right .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

header .right .avatar img {
    width: 100%;
}

li {
    list-style: none;
}

.appsBox {
    min-height: 234px;
    max-height: 458px;
    position: fixed;
    right: 0;
    top: 0;
    box-sizing: border-box;
    margin: 58px 32px 0 0;
    padding: 17px 0 20px 12px;
    width: 330px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
    overflow-x: hidden;
    overflow-y: scroll;
}

/* CONTENEDOR GENERAL */
.appsBox::-webkit-scrollbar {
    width: 8px;
}

/* PALO O FONDO DESLIZABLE */
.appsBox::-webkit-scrollbar-track {
    background-color: transparent;
}

/* MANEJADOR DENTRO DEL PALO */
.appsBox::-webkit-scrollbar-thumb {
    background-color: #dbdce0;
    border-radius: 8px;
}

.appsBox ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.appsBox ul li {
    background-color: limegreen;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.appsBox ul li:nth-child(odd) {
    background: #49b;
}

.appsBox ul li a {
    width: 84px;
    height: 84px;
    background-color: rgb(204, 220, 231);
    display: block;
    border-radius: 8px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.appsBox ul li a:hover {
    background-color: #f6fafe;
}

.appsBox ul li a:active {
    background-color: #e8f0fd;
}

.appsBox ul li a .icon {
    width: 64px;
    height: 64px;
    background-color: blanchedalmond;
    margin: 5px 0 0 0;
}

.appsBox ul li a .text {
    color: #404040;
    display: inline-block;
    font-size: 14px;
    letter-spacing: .09px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76px;
    text-align: center;
}

.appsBox .divider {
    border-bottom: 1px solid #e8eaed;
    display: block;
    left: 0;
    position: relative;
    width: 100%;
    margin: 12px 0;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    font-size: 14px;
    color: #5f6368;
}

footer .lineUp {
    line-height: 40px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer .lineUp .text {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    padding: 0 0 0 27px;
    margin: 0 0 0 3px;
}

footer .lineDown {
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .lineDown a {
    padding: 0 0 0 27px;
}

footer .lineDown .left a:first-child {
    margin: 0 -4px 0 3px;
}

footer .lineDown .left a:nth-child(3) {
    margin: 0 0 0 -4px;
}

footer .lineDown .right a:last-child {
    margin: 0 30px 0 -4px;
}

footer .lineDown .right a:nth-last-child(2) {
    margin: 0 0 0 -4px;
}