@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-y: auto;
}

header {
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    padding: 0 0 0 15px;
    display: inline-block;
}

header .left {
    line-height: 61px;
    margin: 0px 0 0 10px;
    opacity: 0.75;
}

header .right {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    padding: 0 29px 0 0;
}

header .right a {
    margin: 2px 0 0 0;
}

header .right .button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: 528px 68px;
    background-image: url(http://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-position: -132px -38px;
    opacity: 0.55;
    color: #000000;
    margin: 1px 14px 0 15px;
}

header .right .button:hover {
    opacity: 1;
}

header .right .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

header .right .avatar img {
    width: 100%;
}

.appsBoxHidden {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.appsBox {
    z-index: 99;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    box-sizing: border-box;
    margin: 59px 31px 0 0;
    padding: 0 4.5px 0 0;
    width: 330px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.appsBox .inner {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 234px;
    max-height: 456px;
}

/* CONTENEDOR GENERAL */
.appsBox .inner::-webkit-scrollbar {
    width: 7.5px;
}

/* PALO O FONDO DESLIZABLE */
.appsBox .inner::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 3.5px 0;
}

/* MANEJADOR DENTRO DEL PALO */
.appsBox .inner::-webkit-scrollbar-thumb {
    background-color: #dbdce0;
    border-radius: 7.5px;
}

.appsBox .inner ul {
    display: flex;
    margin: 0;
    padding: 13px 0 20px 14px;
    flex-wrap: wrap;
}

.appsBox .inner ul li {
    display: inline-block;
    height: 100px;
    list-style: none;
    padding: 0 7px;
    position: relative;
    transition: transform .2s cubic-bezier(.333, 0, 0, 1);
    vertical-align: top;
    width: 86px;
}

/* ALTERNAR COLORES PAR/IMPAR */
/* .appsBox .inner ul li:nth-child(odd) {
    background: #49b;
} */

.appsBox .inner ul li a {
    width: 84px;
    display: block;
    border-radius: 8px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.appsBox .inner ul li a:hover {
    background-color: #f6fafe;
}

.appsBox .inner ul li a:hover>.text {
    white-space: initial;
    text-overflow: inherit;
    white-space: inherit;
    word-break: break-word;
    z-index: 9;
}

.appsBox .inner ul li a:active {
    background-color: #e8f0fd;
}

.appsBox .inner ul li a .icon {
    width: 64px;
    height: 64px;
    margin: 5px 0 0 0;
    background-size: 64px 2824px;
    background-image: url(https://ssl.gstatic.com/gb/images/p1_6269e604.png);
}

/* SECCIÓN DE IMÁGENES 'SPRITE' PRIMER «UL» */
.appsBox .inner ul:first-child li:nth-child(1) a .icon {
    background-image: none;
}

.appsBox .inner ul:first-child li:nth-child(2) a .icon {
    background-position: 0 -138px;
}

.appsBox .inner ul:first-child li:nth-child(3) a .icon {
    background-position: 0 -828px;
}

.appsBox .inner ul:first-child li:nth-child(4) a .icon {
    background-position: 0 -1311px;
}

.appsBox .inner ul:first-child li:nth-child(5) a .icon {
    background-position: 0 -207px;
}

.appsBox .inner ul:first-child li:nth-child(6) a .icon {
    background-position: 0 -2001px;
}

.appsBox .inner ul:first-child li:nth-child(7) a .icon {
    background-position: 0 -483px;
}

.appsBox .inner ul:first-child li:nth-child(8) a .icon {
    background-position: 0 -2277px;
}

.appsBox .inner ul:first-child li:nth-child(9) a .icon {
    background-position: 0 -2553px;
}

.appsBox .inner ul:first-child li:nth-child(10) a .icon {
    background-position: 0 -1242px;
}

.appsBox .inner ul:first-child li:nth-child(11) a .icon {
    background-position: 0 -621px;
}

.appsBox .inner ul:first-child li:nth-child(12) a .icon {
    background-position: 0 0;
    background-size: 64px 64px;
    background-image: url(http://ssl.gstatic.com/gb/images/a/142da27578.png);
}

.appsBox .inner ul:first-child li:nth-child(13) a .icon {
    background-position: 0 -897px;
}

/* SECCIÓN DE IMÁGENES 'SPRITE' SEGUNDO «UL» */
.appsBox .inner ul:nth-child(3) li:nth-child(1) a .icon {
    background-position: 0 -1725px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(2) a .icon {
    background-position: 0 -2208px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(3) a .icon {
    background-position: 0 -2346px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(4) a .icon {
    background-position: 0 -2139px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(5) a .icon {
    background-position: 0 -1863px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(6) a .icon {
    background-position: 0 0;
    background-size: 64px 64px;
    background-image: url(http://ssl.gstatic.com/gb/images/a/ea554714e7.png);
}

.appsBox .inner ul:nth-child(3) li:nth-child(7) a .icon {
    background-position: 0 -2691px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(8) a .icon {
    background-position: 0 -1035px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(9) a .icon {
    background-position: 0 -276px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(10) a .icon {
    background-position: 0 0;
    background-size: 64px 64px;
    background-image: url(http://ssl.gstatic.com/gb/images/a/911e3628e6.png);
}

.appsBox .inner ul:nth-child(3) li:nth-child(11) a .icon {
    background-position: 0 -690px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(12) a .icon {
    background-position: 0 -759px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(13) a .icon {
    background-position: 0 -2760px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(14) a .icon {
    background-position: 0 -1932px;
}

.appsBox .inner ul:nth-child(3) li:nth-child(15) a .icon {
    background-position: 0 -1587px;
}

.appsBox .inner ul li a .text {
    font-family: 'Open Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    letter-spacing: .09px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76px;
    text-align: center;
    padding: 0 0 8px 0;
}

.appsBox .inner .divider {
    border-bottom: 1px solid #e8eaed;
    display: block;
    left: 0;
    position: relative;
    width: 100%;
    margin: 4px 0 0 0;
}

.appsBox .button {
    width: 312px;
    height: 74px;
    position: relative;
    text-align: center;
    padding: 4px 0 0 0;
}

.appsBox .button .text:hover {
    background-color: #f8fbff;
    border-color: #cce0fc;
}

.appsBox .button .text:active {
    background-color: #ecf3fe;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.appsBox .button .text {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1a73e8;
    display: inline-block;
    /* font: 500 14px/16px 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    DESGLOSE DEL FONT */
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Open Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin: 16px 0 20px 0;
    max-width: 265px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: auto;
    cursor: pointer;
}

.appsBox .button .text:active {
    background-color: #ecf3fe;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    font-size: 14px;
    color: #5f6368;
}

footer .lineUp {
    line-height: 40px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer .lineUp .text {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    padding: 0 0 0 27px;
    margin: 0 0 0 3px;
}

footer .lineDown {
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .lineDown a {
    padding: 0 0 0 27px;
}

footer .lineDown .left a:first-child {
    margin: 0 -4px 0 3px;
}

footer .lineDown .left a:nth-child(3) {
    margin: 0 0 0 -4px;
}

footer .lineDown .right a:last-child {
    margin: 0 30px 0 -4px;
}

footer .lineDown .right a:nth-last-child(2) {
    margin: 0 0 0 -4px;
}

.settings {
    width: 211px;
    height: auto;
    right: 30px;
    display: none;
    position: fixed;
    background: #fff;
    border: 1px solid #999;
    bottom: 30px;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    text-align: left;
    z-index: 104;
}

.settings a {
    width: 100%;
    height: 44px;
    color: #5f6368;
    display: block;
    line-height: 44px;
    padding: 0 20px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.settings a:hover {
    text-decoration: underline;
}